.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fully animated search bar using only css from https://codepen.io/omarsherifs/pen/KGLYYW */
.search-bar-searchBox {
  /*box-sizing: border-box;*/
  font-family: inherit;
  background-color: grey;
  /* rounded corner*/
  border-radius: 40px;
  /* position types absolute, relative, fixed, https://www.w3schools.com/css/css_positioning.asp ...*/ 
  position: absolute;
  top: 50%;
  left:  50%;
  /* Transform element in css coordinate systen */
  transform: translate(-50%, 50%);
  padding: 10px
}
/* Greater sign is called child combinator -> element > element selector */
.search-bar-searchBox:hover > .search-bar-searchButton {
  background: inherit;
  color: #2f3640;
}

.search-bar-searchBox:hover > .search-bar-searchInput {
  width: 240px;
  padding: 0 6px;
}

.search-bar-searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  /* display defines behaviour (type of rendering box) of an element */
  display: flex;
  /* alignts flexible containers items when items do not use all space on main axis (x) */
  justify-content:  center;
  /* same as justify-content but vertical alignment */
  align-items: center;
  /* adds transition to an object */
  transition: 0.4s;
}

.search-bar-searchInput {
  border: none;
  background: inherit;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px
}

@media screen and (max-width: 620px) {
  .search-bar-searchBox:hover > .search-bar-searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }