body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fully animated search bar using only css from https://codepen.io/omarsherifs/pen/KGLYYW */
.search-bar-searchBox {
  box-sizing: border-box;
  font-family: inherit;
  background-color: inherit;
  /* rounded corner*/
  border-radius: 40px;
  /* position types absolute, relative, fixed, https://www.w3schools.com/css/css_positioning.asp ...*/ 
  position: absolute;
  top: 50%;
  left:  50%;
  /* Transform element in css coordinate systen */
  transform: translate(-50%, 50%);
  border-radius: 40px;
  padding: 10px
}
/* Greater sign is called child combinator -> element > element selector */
.search-bar-searchBox:hover > .search-bar-searchButton {
  background: inherit;
  color: #2f3640;
}

.search-bar-searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  display: flex;
  justify-content:  center;
  align-items: center;
  transition: 0.4s;
}

.search-bar-searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px
}

@media screen and (max-width: 620px) {
  .search-bar-searchBox:hover > .search-bar-searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }